# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Arturs Kreipans
	email = 970860+fragallia@users.noreply.github.com 
[push]
	autoSetupRemote = true